/* .App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lavender;
  border: none;
  padding: 10px 20px;
  color: rgb(27, 25, 25);
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */


/* --------------------FORM--------------------- */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: white;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: black;
}